.navbar {
    background-color: rgb(230, 167, 73);
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;
   
}

.form {
    display: flex;
    align-items: center;
    margin-left: 560px;
    text-decoration: none;
    color: inherit;
}

.logotipo {
    text-align: center;
}

.container{
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
}

.textoHome {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    background-color: beige;
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
    padding: 20px;
    width: 450px;
    top: 500px;
    left: 880px;
}




.footer {
    background-color: rgb(230, 167, 73);
    text-align: center;
}