.navbar {
    background-color: rgb(230, 167, 73);
}

.logo {
    width: 100px;
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;
}

.form {
    display: flex;
    align-items: center;
    margin-left: 560px;
    text-decoration: none;
    color: inherit;
}

/*Formulário Fale Conosco*/

.logotipo{
    text-align: center;
}

.container {
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
}

form {
    margin: 10px;
    padding: 70px;
}

.form-control {
    margin: 10px;
}

h3 {
    text-align: center;
}

.btn {
    margin: 10px;
    width: 100px;
}


.footer {
    background-color: rgb(230, 167, 73);
    text-align: center;
}