.navbar {
    background-color: rgb(230, 167, 73);
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    font-size: 18px;
   
}

.form {
    display: flex;
    align-items: center;
    margin-left: 560px;
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: rgb(230, 167, 73);
    text-align: center;
}

.logotipo{
    text-align: center;
}

.container{
    border: rgb(230, 167, 73) 1px solid;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 10px;
    animation: container 0.3s;  
}

@keyframes container{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    
} 

h3{
    text-align: center;
}